<div class="container">
  <h1 class="text-center">{{title}}</h1>
  <h1 class="text-center">TỔ ẤM</h1>
  <app-name-card name='BinhNguyen' phone="0942796891" address="Hoang Mai, Ha Noi"></app-name-card>
  <br>
  <app-process-bar [width]="50"></app-process-bar>

  <hr>
  <nav>
    <a class="btn btn-outline-success" routerLink="/">Home</a> |
    <a class="btn btn-outline-success" routerLink="/font-size-editor">Font Size Changer</a> |
    <a class="btn btn-outline-success" routerLink="/petInfo">Pet Info</a> |
    <a class="btn btn-outline-success" routerLink="/calculator">Calculator</a> |
    <a class="btn btn-outline-success" routerLink="/colorPicker">Color Picker</a> |
    <a class="btn btn-outline-success" routerLink="/articles">Hacker News</a> |
    <a class="btn btn-outline-success" routerLink="/rating-bar-container">Rating Bar</a> |
    <a class="btn btn-outline-success" routerLink="/countdown-timer-container">Count Down Timer</a> |
    <a class="btn btn-outline-success" routerLink="/todo">Todo</a>
    <hr>
    <a class="btn btn-outline-success" routerLink="/register">Registration</a> |
    <a class="btn btn-outline-success" routerLink="/login">Login</a> |
  </nav>
  <router-outlet></router-outlet>
  <hr>

</div>

